$white: white;
$grey: #f7f7f9;
$mediumGrey: grey;
$darkGrey: #191919;
$lighterGrey: lighten($darkGrey,25%);
$black: black;
$blue: #0099CC;
$green: #5cb85c;
$orange: #FF8800;
$red: #CC0000;
$darkRed: darken($red,5%);
$darkBlue: darken($blue,5%);
