@import "colors";
@import "fonts";


@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@keyframes Rocking {
	0% {
    transform:rotate(7deg);
  }
	50% {
    transform:rotate(-7deg);
  }
	100% {
    transform:rotate(7deg);
  }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 10%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInUpDown {
    0% {
        opacity: 0;
        transform: translate3d(0, 10%, 0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
    100% {
      opacity: 0;
      transform: translate3d(0, 10%, 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    max-width: 100%;
    width: 100%;
}

.notFound{
    font-size: 25px;
    color: $mediumGrey;
    animation: fadeInUp .2s;
    display: flex;
    transition: all 0.15s ease-out;
    align-self: center;
    &:hover{
        font-size: 20px;
        cursor: default;
        transition: all 0.15s ease-out;
        color:$darkRed;
    }
}

.notFoundLettering{
    font-size: 50px;
    color: $darkGrey;
    animation: fadeInUp .5s;
    margin-bottom: 20px;
    pading-bottom: 20px;
    transition: all 0.15s ease-out;
    &:hover{
        transition: all 0.15s ease-out;
        font-size: 75px;
        cursor: default;
        color:$red;
    }
}

.nav-link {
    &:hover {
        text-decoration: none !important;
    }
}

.icon {
    color: $grey;
    @include size(40px);
    &:hover {
      /*animation: Rocking 1s infinite;*/
        color: $white;
        cursor: pointer;
    }
}

[data-balloon]{
  &:after{
    font-size: 15px !important;
  }
}

.copied{
      padding: 10px;
      border-radius: 5px;
      background-color: $darkGrey;
      position: fixed;
      bottom: 75px;
      left: 25px;
      animation: fadeInUpDown 1.3s;
      font-size: 20x;
      color: $white;
      font-family: $mainFont;
}

.limitWidth {
    width: 70%;
    display: flex;
    align-self: center;
    margin: 0 auto;
    margin-top: 25px;
}

.skillTitle {
    display: flex;
    align-self: center;
    justify-content: initial;
    &:hover{
      cursor: default !important;

    }
}

.expert {
    &:hover {
        color: $green;
    }
}

.proficient {
    &:hover {
        color: $blue;
    }
}

.competent {
    &:hover {
        color: $orange;
    }
}

.list {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

.exp {
    border-top: 1px solid $green;
}

.expRed {
    border-top: 1px solid $red;
}

.prof {
    border-top: 1px solid $blue;
}

.comp {
    border-top: 1px solid $orange;
}

.flex-Outer {
    margin: 20px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
}

.contact-outer {}

.mainSkills {
    margin: 20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.noBorder {
    border: none !important;
    outline: none !important;
}

.skillBlock {
    float: right;
    ul {
        padding: 0;
        list-style: none;
    }
}

.homeBox {
   height: 100% !important;
   position: relative;
   display: flex;
   align-content: center;
   justify-content: center;
    min-height: 75vh !important;
   background-color: $grey;
}

.justMain{

  display: flex;
  flex-direction: column;
}

.projFix{
    min-height: 75vh !important;
}

.indexCard {
    height: 150px !important;
    animation: fadeInUp .3s;
}

.image {
    @include size(200px);
    display: inline-block;
    animation: fadeInUp .3s;
    border-radius: 50%;
}

.card-header {
    background: $white !important;
}

.imageAndTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.introduction {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.nameIntro {
    margin-top: 25px;
}

.linksPanel {
    width: 100%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    animation: fadeInUp .5s;
}

.fa-github {
    color: black !important;
}

.linkBasic {
    display: inline;
    text-decoration: none;
    width: calc(100%/3);
    color: $black;
    margin: 0;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
}

.gitLink {
    @extend .linkBasic;
    width: 33%;
    &:hover {
        color: $orange;
    }
}

.linkedInLink {
    float: right;
    text-align: right;
    @extend .linkBasic;
    &:hover {
        color: $blue;
    }
}

.emailPanel {
    position: fixed !important;
    left: 30px;
    color: $mediumGrey;
    font-family: $mainFont;
    font-weight: bolder;
    font-size: 25px;
    bottom: 30px;
    &:hover {
        color: $red;
        cursor: pointer;
    }
}

.namePanel {
    display: inline-flex;
    padding: 25px;
    margin: 5px;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.expert {
    animation: fadeInUp .4s;
}

.proficient {
    animation: fadeInUp .5s;
}

.competent {
    animation: fadeInUp .6s;
}

.projTitle {
    margin: 20px;
}

.projDesc {
    margin: 20px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
}

.flex-item {
    width: 30%;
    min-width: 300px !important;
    //border-radius: 5px;
    max-height: 85%;
    margin: 20px;
    padding: 30px;
    overflow-y: auto;
}

.fione {
    border: 1px solid $blue;
    animation: fadeIn .4s;
}

.fitwo {
    border: 1px solid $red;
    animation: fadeIn .5s;
}

.fithree {
    border: 1px solid $green;
    animation: fadeIn .6s;
}

.TitleOne {
    animation: fadeInUp .4s;
}

.TitleTwo {
    animation: fadeInUp .5s;
}

.TitleThree {
    animation: fadeInUp .6s;
}

.projectsTitle {
    font-weight: bold;
    cursor: default;
}

.seamlessLink {
    color: $blue;
    &:hover {
        text-decoration: none;
        color: $red;
    }
    &:active {
        text-decoration: none;
        color: $red;
    }
    &:focus {
        text-decoration: none;
        color: $red;
    }
}

.seamlessLinkPrism {
    color: $black;
    &:hover {
        cursor: pointer !important;
        text-decoration: none;
        color: $blue;
    }
    &:active {
        text-decoration: none;
        color: $blue;
    }
    &:focus {
        text-decoration: none;
        color: $blue;
    }
    .projectsTitle {
        &:hover {
            cursor: pointer !important;
        }
    }
}

.professionalExperience{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    font-family: inherit;
}

.putnamExp{
    width: 50%;
    min-width: 250px;
    overflow-x:auto;
}

.self{
  display: none;
}

.putnamFooter{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.school{
  display: none;
}


.expAbout{
    animation: fadeInUp .4s;
}
.expTitle{
    animation: fadeInUp .6s;
    color: $blue;
    &:hover{
        cursor: default;
        color: $darkBlue
    }
}
.expSubTitle{
    animation: fadeInUp .6s;
    color: $darkBlue;
    &:hover{
        cursor: default;
    }
}

.accent{
    font-weight: bold;
    color: $lighterGrey;
    &:hover{
        cursor: pointer;
        color: $lighterGrey;
    }
}

.subExpPutnam{
    margin-left: 5px;
}


.putnamExp::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
@media all and (max-width: 768px) {
  /*.emailPanel {
      display: none;
  }*/

  .App{
      width: 100vw;
  }

  body{
      height: 100vh;
    background-color: $grey;
  }

  .emailPanel {
    position: inherit;
    left: 30px;
    right: 15px;
    text-align: right;
    color: grey;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    bottom: 15px !important;
}

[data-balloon]:after {
  display: none;
}

[data-balloon-pos=right]:before {
  display: none !important;
}
.copied {
  padding: 10px;
  border-radius: 5px;
  background-color:$darkGrey;
  position: fixed;
  bottom: 75px;
  right: 25px !important;
  left: 65% !important;
  width: 30%;
  display: inline-block;
  animation: fadeInUpDown 1.3s;
  text-align: center;
  font-size: 20x;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
  .putnamFooter {
    display: none;
  }

  .word {
    display: none;
  }

  .mainSkills {
    flex-direction: column;
    overflow-y: auto;
  }

  .flex-Outer {
    margin: 1% !important;
    flex-direction: column;
    align-items: center;
  }

  .flex-item {
    margin: 10% !important;
    padding: 10% !important;
  }

  .fione {
    border: 1px solid $blue;
    animation: fadeIn .4s;
    width: 70%;
  }

  .fitwo {
    border: 1px solid $red;
    animation: fadeIn .5s;
    width: 70%;
  }

  .fithree {
    border: 1px solid $green;
    animation: fadeIn .6s;
    width: 70%;
  }

  .indexCard {
    height: auto !important;
    animation: fadeInUp .3s;
  }

  .image {
    width: 170px;
    height: 170px;
    display: inline-block;
    animation: fadeInUp .3s;
    border-radius: 50%;
  }

  .linksPanel {
    width: 50% !important;
  }

  .limitWidth {
    width: 90% !important;
    margin-bottom: 25px !important;
  }

  .navbar {
    position: sticky !important;
    display: flex;
    justify-content: center;
    border-bottom: solid .1px $green;
  }

  .nav-item{
    margin-left: 0px !important;
    margin-right: 1rem;
  }
  .homeBox{
    margin-bottom: 25px !important;
  }
}
