@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUpDown {
  0% {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  max-width: 100%;
  width: 100%;
}

.notFound {
  font-size: 25px;
  color: grey;
  animation: fadeInUp .2s;
  display: flex;
  transition: all 0.15s ease-out;
  align-self: center;
}
.notFound:hover {
  font-size: 20px;
  cursor: default;
  transition: all 0.15s ease-out;
  color: #b30000;
}

.notFoundLettering {
  font-size: 50px;
  color: #191919;
  animation: fadeInUp .5s;
  margin-bottom: 20px;
  pading-bottom: 20px;
  transition: all 0.15s ease-out;
}
.notFoundLettering:hover {
  transition: all 0.15s ease-out;
  font-size: 75px;
  cursor: default;
  color: #CC0000;
}

.nav-link:hover {
  text-decoration: none !important;
}

.icon {
  color: #f7f7f9;
  width: 40px;
  height: 40px;
}
.icon:hover {
  color: white;
  cursor: pointer;
}

[data-balloon]:after {
  font-size: 15px !important;
}

.copied {
  padding: 10px;
  border-radius: 5px;
  background-color: #191919;
  position: fixed;
  bottom: 75px;
  left: 25px;
  animation: fadeInUpDown 1.3s;
  font-size: 20x;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.limitWidth {
  width: 70%;
  display: flex;
  align-self: center;
  margin: 0 auto;
  margin-top: 25px;
}

.skillTitle {
  display: flex;
  align-self: center;
  justify-content: initial;
}
.skillTitle:hover {
  cursor: default !important;
}

.expert:hover {
  color: #5cb85c;
}

.proficient:hover {
  color: #0099CC;
}

.competent:hover {
  color: #FF8800;
}

.list {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

.exp {
  border-top: 1px solid #5cb85c;
}

.expRed {
  border-top: 1px solid #CC0000;
}

.prof {
  border-top: 1px solid #0099CC;
}

.comp {
  border-top: 1px solid #FF8800;
}

.flex-Outer {
  margin: 20px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
}

.mainSkills {
  margin: 20px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.noBorder {
  border: none !important;
  outline: none !important;
}

.skillBlock {
  float: right;
}
.skillBlock ul {
  padding: 0;
  list-style: none;
}

.homeBox {
  height: 100% !important;
  position: relative;
  min-height: 75vh !important;
  background-color: #f7f7f9;
}

.projFix {
  min-height: 75vh !important;
}

.indexCard {
  height: 150px !important;
  animation: fadeInUp .3s;
}

.image {
  width: 200px;
  height: 200px;
  display: inline-block;
  animation: fadeInUp .3s;
  border-radius: 50%;
}

.card-header {
  background: white !important;
}

.introduction {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.nameIntro {
  margin-top: 25px;
}

.linksPanel {
  width: 75%;
  display: inline-block;
  cursor: pointer;
  animation: fadeInUp .5s;
}

.fa-github {
  color: black !important;
}

.linkBasic, .gitLink, .linkedInLink {
  display: inline;
  text-decoration: none;
  width: calc(100%/3);
  color: black;
  margin: 0;
}
.linkBasic:hover, .gitLink:hover, .linkedInLink:hover {
  text-decoration: none;
}
.linkBasic:focus, .gitLink:focus, .linkedInLink:focus {
  text-decoration: none;
}
.linkBasic:active, .gitLink:active, .linkedInLink:active {
  text-decoration: none;
}

.gitLink {
  width: 33%;
}
.gitLink:hover {
  color: #FF8800;
}

.linkedInLink {
  float: right;
  text-align: right;
}
.linkedInLink:hover {
  color: #0099CC;
}

.emailPanel {
  position: fixed !important;
  left: 30px;
  color: grey;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 25px;
  bottom: 30px;
}
.emailPanel:hover {
  color: #CC0000;
  cursor: pointer;
}

.namePanel {
  display: inline-flex;
  padding: 25px;
  margin: 5px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.expert {
  animation: fadeInUp .4s;
}

.proficient {
  animation: fadeInUp .5s;
}

.competent {
  animation: fadeInUp .6s;
}

.projTitle {
  margin: 20px;
}

.projDesc {
  margin: 20px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 400px;
  height: 250px;
  background-color: lightgrey;
}

.flex-item {
  width: 30%;
  min-width: 300px !important;
  max-height: 85%;
  margin: 20px;
  padding: 30px;
  overflow-y: auto;
}

.fione {
  border: 1px solid #0099CC;
  animation: fadeIn .4s;
}

.fitwo {
  border: 1px solid #CC0000;
  animation: fadeIn .5s;
}

.fithree {
  border: 1px solid #5cb85c;
  animation: fadeIn .6s;
}

.TitleOne {
  animation: fadeInUp .4s;
}

.TitleTwo {
  animation: fadeInUp .5s;
}

.TitleThree {
  animation: fadeInUp .6s;
}

.projectsTitle {
  font-weight: bold;
  cursor: default;
}

.seamlessLink {
  color: #0099CC;
}
.seamlessLink:hover {
  text-decoration: none;
  color: #CC0000;
}
.seamlessLink:active {
  text-decoration: none;
  color: #CC0000;
}
.seamlessLink:focus {
  text-decoration: none;
  color: #CC0000;
}

.seamlessLinkPrism {
  color: black;
}
.seamlessLinkPrism:hover {
  cursor: pointer !important;
  text-decoration: none;
  color: #0099CC;
}
.seamlessLinkPrism:active {
  text-decoration: none;
  color: #0099CC;
}
.seamlessLinkPrism:focus {
  text-decoration: none;
  color: #0099CC;
}
.seamlessLinkPrism .projectsTitle:hover {
  cursor: pointer !important;
}

.professionalExperience {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  font-family: inherit;
}

.putnamExp {
  width: 50%;
  min-width: 250px;
  overflow-x: auto;
}

.self {
  display: none;
}

.putnamFooter {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.school {
  display: none;
}

.expAbout {
  animation: fadeInUp .4s;
}

.expTitle {
  animation: fadeInUp .6s;
  color: #0099CC;
}
.expTitle:hover {
  cursor: default;
  color: #0086b3;
}

.expSubTitle {
  animation: fadeInUp .6s;
  color: #0086b3;
}
.expSubTitle:hover {
  cursor: default;
}

.accent {
  font-weight: bold;
  color: #595959;
}
.accent:hover {
  cursor: pointer;
  color: #595959;
}

.subExpPutnam {
  margin-left: 5px;
}

@media all and (max-width: 768px) {
  /*.emailPanel {
      display: none;
  }*/
  .putnamFooter {
    display: none;
  }

  .word {
    display: none;
  }

  .mainSkills {
    flex-direction: column;
    overflow-y: auto;
  }

  .flex-Outer {
    flex-direction: column;
    align-items: center;
  }

  .flex-item {
    margin: 10% !important;
    padding: 10% !important;
  }

  .fione {
    border: 1px solid #0099CC;
    animation: fadeIn .4s;
    width: 100%;
  }

  .fitwo {
    border: 1px solid #CC0000;
    animation: fadeIn .5s;
    width: 100%;
  }

  .fithree {
    border: 1px solid #5cb85c;
    animation: fadeIn .6s;
    width: 100%;
  }

  .indexCard {
    height: auto !important;
    animation: fadeInUp .3s;
  }

  .image {
    width: 170px;
    height: 170px;
    display: inline-block;
    animation: fadeInUp .3s;
    border-radius: 50%;
  }

  .linksPanel {
    width: 50% !important;
  }

  .limitWidth {
    width: 90% !important;
  }

  .navbar {
    position: sticky !important;
  }
}